body {
    font-family: 'Lexend Deca', sans-serif;
}

#result-div {
    display: none;
    text-align: center;
}

#loading-div {
    display: none;
}

p {
    text-align: justify;
}

#footer {
    text-align: center;
}